# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

usb/Debug/*
*.tlog
Debug/*
ipch/*
*.log
*.pdb
*.lastbuildstate
*.exp
*.zip
*.sdf
.vs/*
*.iobj
*.ipdb